h1{
    color: green;
}
p {
    color: rgb(130,200,15);
}
button {
    color: rgb(97,165,42);
    background-color: white;
}
body {
    background-color:rgb(97,165,42);
} 
button {
    background-color:green;
} 